body, html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: linear-gradient(90deg, white, grey);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: grey, #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 15px;
    border: 3px solid #ffffff;
  }

a{
    text-decoration: none;
}

@font-face {
    font-family: JustSansRegular;
    src: url('fonts/JUST\ Sans\ Regular.otf');
}

@font-face {
    font-family: JustSansBold;
    src: url('fonts/JUST\ Sans\ ExBold.otf');
}

@font-face {
    font-family: Garmint;
    src: url('fonts/Garmint.ttf');
}

@font-face {
    font-family: ForzanLight;
    src: url('fonts/Forzan-Light.ttf');
}

@font-face {
    font-family: PoppinsMedium;
    src: url('fonts/FontsFree-Net-Poppins-Medium.ttf');
}

.main-header{
    height: 99vh;
    background: url(img/edenwpp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    clip-path: polygon(100% 0%, 100% 100%, 84% 96%, 16% 96%, 0 100%, 0 0);
}

.header-top{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-top img{
    width: 55px;
    border-radius: 50px;
    margin-left: 50px;
}

.header-top a{
    transition: 0.2s;
}

.header-top a:hover{
    transform: scale(1.02);
}

.header-top nav ul{
    list-style: none;
    display: flex;
    padding-right: 20px;
}

.header-top nav ul li{
    padding-right: 30px;
}

.header-top nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.747);
    font-family: PoppinsMedium;
    transition: 0.3s;
    position: relative;
}

.header-top nav ul li a:after{
    content: "";
    position: absolute;
    background-color: #818181;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.header-top nav ul li a:hover{
    color: rgb(255, 255, 255);
}

.header-top nav ul li a:hover:after{
    width: 100%;
}

.header-top #divisor{
    background-color: #818181;
    height: 25px;
    width: 1.5px;

    padding: 0;
    margin-right: 30px;
}

@keyframes animate {
    0% { opacity: 0; }

    50% { opacity: 0.7; }

    100% { opacity: 0; }
}

.main-header h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    font-family: Garmint;
    font-size: 8rem;
    color: white;
    letter-spacing: 3px;
    user-select: none;
}

.section-music{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

#aplayer{
    width: 90%;
}

.section-instagram{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.section-instagram p{
    width: 40%;
    font-size: 1.125rem;
    text-align: center;
    font-family: JustSansRegular;
}

.video{
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 80%;
}

footer{
    background: rgb(34,35,38);
}

.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text h1{
    font-family: PoppinsMedium;
    color: rgb(255, 255, 255);
}

@media (max-width: 858px){
    .header-top{
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .header-top img{
        width: 35px;
        border-radius: 50px;
        margin-left: 20px;
    }
    
    .header-top nav ul{
        list-style: none;
        display: flex;
        padding-right: 5px;
    }
    
    .header-top nav ul li{
        padding-right: 20px;
    }
    
    .header-top nav ul li a{
        font-size: 12px;
    }
    
    .header-top nav ul li a:after{
        content: "";
        position: absolute;
        background-color: #818181;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    
    .header-top nav ul li a:hover{
        color: rgb(255, 255, 255);
    }
    
    .header-top nav ul li a:hover:after{
        width: 100%;
    }
    
    .header-top #divisor{
        background-color: #818181;
        height: 20px;
        width: 2px;

        padding: 0;
        margin-right: 20px;
    }

    .section-instagram{
        flex-direction: column;
    }

    .section-instagram p{
        width: 80%;
        font-size: 12px;
    }

    footer h1{
        font-size: 15px;
    }
}